##### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

Assume Null hypothesis Ho is that defective % does not varies by centre. And
Alternate hypothesis will be that defective % varies by centre

In [2]:
### importing all the required libraries

import pandas as pd 
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [3]:
## loading the data set

data=pd.read_csv('Costomer+OrderForm.csv')
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [5]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [6]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [7]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
### Preparing a contengency table

obs = np.array([[271,267,269,280], [29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [13]:
### chi2 contengency independence test

stat, p,dof, expected =stats.chi2_contingency(obs)

In [11]:
alpha =0.05

In [15]:
print("Chi Square test is ", p)
if p <= alpha:
    print("Null hypothesis H0 is rejected")
else:
    print("Null hypothesis holds true")

Chi Square test is  0.2771020991233135
Null hypothesis holds true